/* banner 开始 */
.banner {
  margin: 10px 0;
  position: relative;
}
.banner img {
  max-width: 100%;
  display: none;
}
.banner .cur img {
  display: block;
  animation: banner 2s;
}
.banner .order {
  position: absolute;
  bottom: 14px;
  left: 50%;
  width: 186px;
  margin-left: -93px;
}
.banner .order a {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-right: 10px;
  float: left;
}
.banner .order .cur a {
  background: #fff;
}
.banner .order li:last-child a {
  margin-right: 0;
  width: 52px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  margin-top: -6px;
  background: transparent;
}
@media (min-width: 992px) {
  header {
    background: url("../images/header_bg.jpg") no-repeat;
    padding-top: 25px;
  }
  .banner {
    width: calc(100% - 360px);
    max-width: 780px;
    margin: 0;
    margin-bottom: 10px;
  }
}
/* 下载开始 */
.download {
  max-width: 360px;
}
.download .ctn {
  background: url("../images/download_bg.jpg") no-repeat -30px 0;
  background-color: #fff;
  padding: 60px 20px 25px 20px;
  border-bottom: 4px solid #14aec6;
  margin-bottom: 10px;
}
.download h2 {
  color: #df4f11;
  font-size: 26px;
}
.download span {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("../images/download_icon.png") no-repeat;
  margin-left: 8px;
  margin-bottom: -6px;
}
.download a {
  width: 210px;
  height: 40px;
  border-radius: 20px;
  background: #14aec6;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
.download p {
  margin-top: 28px;
  font-size: 14px;
  color: #73808b;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .download {
    margin-left: 14px;
    margin-bottom: 25px;
  }
}
/*能做什么 开始*/
.what {
  background: #fff;
  padding-top: 29px;
  padding-bottom: 40px;
}
.what h2 {
  font-size: 26px;
}
.what .item {
  margin-top: 20px;
}
.what .img-wrap {
  position: relative;
}
.what .img-wrap p {
  position: absolute;
  top: 38px;
  background: rgba(47,182,203,0.8);
  border: none;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  padding-top: 0;
  height: calc(100% - 38px);
  overflow: hidden;
  display: none;
}
.what h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 38px;
  color: #fff;
  background: rgba(140,209,220,0.7);
  height: 38px;
  font-weight: bold;
}
.what p {
  background: #fff;
  border: 2px solid #eee;
  width: 100%;
  min-height: 50px;
  font-size: 13px;
  line-height: 22px;
  color: #73808b;
  padding: 10px;
  border-top: none;
  border-bottom: none;
}
.what span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #8cd1dc;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.what ul {
  padding: 0 10px 20px 10px;
  font-size: 14px;
  line-height: 28px;
  padding-left: 10px;
  border: 1px solid #eee;
  border-top: none;
}
.what li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.what a {
  color: #7f919e;
}
.what a:hover {
  color: #7f919e;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .what p {
    height: 108px;
  }
}
@media (min-width: 992px) {
  .what .item {
    position: relative;
  }
  .what p {
    display: none;
  }
  .what .img-wrap:hover h3 {
    top: 0;
    text-align: left;
    padding-left: 10px;
    background: rgba(47,182,203,0.8);
  }
  .what .img-wrap:hover p {
    display: block;
  }
  .what ul {
    border: none;
    padding-left: 0;
    padding-top: 10px;
  }
}
/*主体部分 开始*/
.main h3 {
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main h3:hover {
  text-decoration: underline;
}
/**硬件俱乐部 开始**/
.hwclub {
  padding-left: 20px;
  padding-bottom: 25px;
}
.hwclub img {
  width: calc(100% - 20px);
  max-width: 100%;
  float: left;
}
.hwclub .brief {
  margin-top: 25px;
  padding: 0;
  padding-right: 20px;
}
.hwclub p {
  margin-bottom: 20px;
  overflow: hidden;
  height: 76px;
}
.hwclub .btn {
  width: 30%;
  height: 32px;
  margin-right: 10px;
  line-height: 32px;
  padding: 0;
  font-size: 14px;
}
.hwclub .btn:last-child {
  margin-right: 0;
}
.hwclub .tobuy {
  background: #f93;
}
@media (min-width: 768px) {
  .mod img {
    width: auto;
    margin-right: 20px;
  }
  .mod .brief {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .hwclub .btn {
    width: 123px;
    font-size: 16px;
  }
}
/**动态 开始**/
.news {
  padding-left: 20px;
  padding-bottom: 25px;
}
.news img {
  float: left;
  margin-bottom: 25px;
}
.news .brief {
  padding: 0;
}
.news .posttime {
  clear: both;
  padding-top: 20px;
}
.news .posttime span {
  float: left;
}
.news .posttime span:first-child {
  margin-right: 30px;
  margin-bottom: 10px;
}
.news .item {
  padding-bottom: 30px;
  border-bottom: 1px solid #e8ebed;
  margin-right: 20px;
  margin-bottom: 30px;
}
.news .item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .news img {
    max-width: 262px;
    max-height: 175px;
    margin-bottom: 0;
    float: left;
  }
  .news .brief {
    width: auto;
    float: none;
  }
}
/**热门博客 开始**/
.half {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
.half h2 {
  background: #fff;
  padding-left: 15px;
}
.half ul {
  padding-left: 15px;
  background: #fff;
  padding-bottom: 20px;
  padding-right: 15px;
}
.half li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.half li a {
  color: #4c575f;
  font-size: 14px;
  line-height: 26px;
}
.half li:hover {
  text-decoration: underline;
  color: #4c575f;
}
.half li:before {
  content: " ";
  width: 4px;
  height: 4px;
  background: #909eb6;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .mod-l .half:nth-child(3) {
    padding-left: 0;
    padding-right: 15px;
  }
  .mod-l .half:nth-child(4) {
    padding-right: 0;
    padding-left: 15px;
  }
}
@-moz-keyframes banner {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes banner {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-o-keyframes banner {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes banner {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
