body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
ol,
p,
input,
select,
option,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
}
ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
}
input,
button,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}
textarea {
  resize: none;
}
img {
  border: none;
  vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}
em,
i,
u {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
@reset ();
nav {
  width: 100%;
  background: #26a1b4;
  height: 70px;
  overflow: hidden;
  border-top: 1px solid #dfdfdf;
}
nav .logo {
  background: url("../images/logo.png") no-repeat 0 50%;
  width: 248px;
  height: 70px;
  display: inline-block;
  line-height: 66px;
  font-size: 18px;
  color: #fff;
  text-align: right;
}
nav .fa-bars {
  font-size: 32px;
  color: #fff;
  line-height: 70px;
  cursor: pointer;
}
nav ul {
  float: right;
  overflow: hidden;
  display: none;
}
nav li {
  float: left;
  font-size: 16px;
  line-height: 70px;
  height: 69px;
  margin-right: 26px;
  padding-left: 6px;
  padding-right: 6px;
}
nav li:hover {
  border-bottom: 3px solid #fff;
}
nav li:hover a {
  color: #fff;
}
nav li a {
  color: #fff;
}
nav .cur {
  border-bottom: 3px solid #fff;
}
.nav_ctn {
  background: #2fafc2;
  display: none;
}
.nav_ctn li {
  height: 64px;
  border-bottom: 1px solid #59bfce;
  text-align: center;
  line-height: 64px;
  font-size: 28px;
  cursor: pointer;
}
.nav_ctn li:hover a,
.nav_ctn li.cur a {
  color: #fff;
  font-weight: bold;
}
.nav_ctn a {
  color: #fff;
}
@media (min-width: 992px) {
  .nav_ctn {
    height: 0 !important;
    background: none;
  }
  .nav_ctn .container {
    position: relative;
  }
  .nav_ctn ul {
    position: absolute;
    right: 0;
    background: #2fafc2;
    z-index: 999;
  }
  .nav_ctn li {
    display: none;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #59bfce;
    font-size: 16px;
    text-align: left;
    border-left: 3px solid #2fafc2;
    padding-left: 10px;
  }
  .nav_ctn li:hover {
    border-left: 3px solid #fff;
  }
  .nav_ctn li:hover a,
  .nav_ctn li:hover a:hover {
    color: #fff;
  }
  .nav_ctn li:nth-last-child(1),
  .nav_ctn li:nth-last-child(2),
  .nav_ctn li:nth-last-child(3) {
    display: block;
  }
}
/*公共样式 开始*/
.csdn-toolbar .container {
  width: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  background: #eee;
  font-size: 14px;
  color: #666;
  font-family: "Microsoft YaHei";
}
img {
  width: 100%;
}
.clearfix:after {
  width: 0;
  height: 0;
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}
h2 {
  font-size: 26px;
  color: #00acbd;
  font-weight: bold;
  line-height: 68px;
}
@media (min-width: 992px) {
  .pc {
    display: block;
  }
  .mb {
    display: none;
  }
}
/*公共样式 结束*/
